<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.languo">

    <!-- === PERMISSION === -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Kamera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Lokasi (untuk Google Maps) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:label="languo"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- === GOOGLE MAPS API KEY === -->
        <!-- GANTI "YOUR_API_KEY" DENGAN KEY MU SENDIRI -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyArBhSSocdpTaqGlPnm5i6Fa-mREd9Ci60" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Don't delete this -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Required by Flutter ProcessTextPlugin -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
